<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="Hexlite-OWLAPI-Plugin" packages="">
  <Appenders>
    <Console name="CON" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="CON"/>
    </Root>
  </Loggers>
</Configuration>