<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="CON" target="SYSTEM_ERR">  <!-- where to display -->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> <!-- how to display -->
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info"> <!-- the log level to display: e.g., info, debug, warn -->
      <AppenderRef ref="CON"/>
    </Root>
  </Loggers>
</Configuration>